html,body
{
    width: 1263px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
font: 400 13px/20px'Arial', sans-serif;
 color: #707070;
}

.container{
  width:100%;
   height:120px;
   background-color:black;
}

header{
  width: 960px;
	height: 100px;

}

.toplogo{
  margin-left: 0;
  float:left;

}

.toplogo h1, h2{
  margin: 0;
  padding: 0;

}

.toplogo h1 a{
  display: block;
  width: 327px;
  height: 97px;
  color: #fff;
   text-indent: -10000px;
}

.toplogo a img {
    width: 100px;
    height: 150px;
    float: inherit;
}
.toplogo.grid_5 a {
    width: 100px;
    height: 120px;
    margin-left: 0;
}
.title.grid_3 h1 {
    text-align: center;
    color: #CCCCCC;
    font-style: italic;
    font-family: 'Lobster', Georgia, Times, serif;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-bottom: 20px;
    font-size:36pt;
  }


  .title.grid_3 h3 {
    padding-left:10px;
      font-size: 14pt;
      font-family:italic;
      font:'Great Vibes', Helvetica, sans-serif;
   color: #ff9933;
   text-shadow: 4px 4px 3px rgba(0,0,0,0.1);



    }

    .menu.grid_7 {
        width: 700px;
        height: 100px;
        float: inherit;
       margin-right: 0px;
        float:right;
    }

.menu.grid_7 nav{
width:700px;
height:100px;


}

.menu.grid_7 nav ul{
  width:100%;
  height:100px;
float: right;
	list-style: none;

}

.menu.grid_7 nav ul li{
  padding: 0;
  	margin: 0;
  	display: inline;


}


.menu.grid_7 nav ul li a {
  float: left;
  display: block;
  width: 115px;
  height: 100px;
  padding: 20px 0 0 0;
  margin-left: 1px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  outline: none;
  font-family: monospace;
  background-color: #FF009C;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Removes default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

   .galarie {
       position: relative;
       width: 50%;
       margin: 50px 0 100px 300px;
   }

 .heading{
   margin-top:60px;

 }
   .heading h1{
     text-align: center;
     font-weight: bolder;
     font-family: cursive;
     color:#cc0066;
     font-size: 24pt;

   }
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */

.item img{
  width:100%;
  height:500px;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}


/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/*
 * Removes border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*events*/

.people{
  width:100%;
  height:600px;
}

.event1{
  height:250px;
  margin-left:100px;
  margin-right:100px;
}
.event1 img{
  width:200px;
  height:150px;
}

div.grid_8{
   width:800px;
   height:200px;
 }

.event1 h2{
  color:black;
  font-family: monospace;
  font-weight: bold;
  padding-bottom: 10px;
}

.event1 p{
  letter-spacing: 0.5px;
  color:#6600cc;
  font-family: sans-serif;
  font-size: 11pt;

}


.event2{
  height:250px;
  margin-left:100px;
  margin-right:100px;
}

div.grid_8{
   width:800px;
   height:200px;
 }

.event2 img{
  width:200px;
  height:150px;
}

.event2 h2{
  color:black;
  font-family: monospace;
  font-weight: bold;
  padding-bottom: 10px;
}

.event2 p{
  letter-spacing: 0.5px;
  color:#6600cc;
  font-family: sans-serif;
  font-size: 11pt;

}
/*...........................*/

#footer{
  clear: both;
	width: 100%;
	background: url(../img/templatemo_footer.jpg) repeat-x;
}

#inner-footer{
  width: 960px;
  	height: 195px;
  	padding: 20px 0 0;
  	margin: 0 auto;
  	color: #545454;
}

.footer_title {
	display: block;
	height: 40px;
	margin-bottom: 30px
}

.footer_title h5 {
	color: #ceb31c;
	margin-bottom: 0;
}

.twitter h5 { color: #47add3 }

.footer_title img {
	float: left;
	margin-right: 20px;
  width: 30px;
  height:30px;
}

#newsletter_input { background: #747474; width: 200px; padding: 3px 5px; border: 1px solid #000 }
#newsletter_submit { background: none; border: none; color: #fff; cursor: pointer }

.col_footer{
  width: 300px; float: left; margin-right: 30px;
}

.col_last { margin: 0; }

#copyright{
  clear: both;
  	width: 960px;
  	height: 40px;
  	margin: 0 auto;
  	text-align: center;
  	color: #9a9a9a;
}


#copyright a{
color: #fff;
  text-decoration: underline;
  font-style: italic;
}
